
.inner {
    background-color: darkblue;
    /* width: 100% !important; */

    height: 250px;
    
}

.inner:hover {
    box-shadow: 0px 23px 12px -16px rgb(0 0 0 / 47%);
}

@media (max-width: 768px) {
    .inner {
        width: 100%!important;
        height: 30vw;
        min-height: 130px;
    }
}

.title {
    line-height: 2rem;
}

.opacity {opacity: 0.5}
.opacity:hover {opacity: 1}