@media (max-width: 768px) {
    .cover {width: 100%}
}

@media (min-width: 769px) {
    .head {
        width: 13vw!important;
        min-width: 130px;
        /* height: 54vw!important; */
        height: auto!important;
    }
}
.title svg {
    height: 8vw;
    min-height: 70px;
}

.icon svg {
    width: 7vw;
    min-width: 100px;
}