:root {
    --primaryColor: #fff;
    --secondaryColor: #04AA6D;
    --tertiaryColor: #282A35;
    --primaryTextColor: #fff;
    --secondaryTextColor: #242424;
    --tertiaryTextColor: #04AA6D;

    --originalprimaryColor: #fff;
    --originalsecondaryColor: #04AA6D;
    --originaltertiaryColor: #282A35;
    --originalprimaryTextColor: #fff;
    --originalsecondaryTextColor: #242424;
    --originaltertiaryTextColor: #04AA6D;

    --darkprimaryColor: #1d2a35;
    --darksecondaryColor: #008353;
    --darktertiaryColor: #0d1721;
    --darkprimaryTextColor: #e2e2e2;
    --darksecondaryTextColor: #ffffff;
    --darktertiaryTextColor: #008353;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primaryColor: #1d2a35;
        --secondaryColor: #008353;
        --tertiaryColor: #0d1721;
        --primaryTextColor: #e2e2e2;
        --secondaryTextColor: #ffffff;
        --tertiaryTextColor: #008353;
    }
}

.primary_bg {background-color: var(--primaryColor)}
.secondary_bg {background-color: var(--secondaryColor)}
.tertiary_bg {background-color: var(--tertiaryColor)}

.primary_bg_hover:hover {background-color: var(--primaryColor)}
.secondary_bg_hover:hover {background-color: var(--secondaryColor)}
.tertiary_bg_hover:hover {background-color: var(--tertiaryColor)}

.primary_color {color: var(--primaryTextColor)}
.secondary_color {color: var(--secondaryTextColor)}
.tertiary_color {color: var(--tertiaryTextColor)}

.primary_color_hover:hover {color: var(--primaryColor)}
.secondary_color_hover:hover {color: var(--secondaryTextColor)}
.tertiary_color_hover:hover {color: var(--tertiaryTextColor)}

.primary_fill, .primary_fill svg {fill: var(--primaryTextColor)}
.secondary_fill, .secondary_fill svg {fill: var(--secondaryTextColor)}
.tertiary_fill, .tertiary_fill svg {fill: var(--tertiaryTextColor)}

.primary_fill_hover:hover, .primary_fill_hover:hover svg {fill: var(--primaryColor)}
.secondary_fill_hover:hover, .secondary_fill_hover:hover svg {fill: var(--secondaryTextColor)}
.tertiary_fill_hover:hover, .tertiary_fill_hover:hover svg {fill: var(--tertiaryTextColor)}


// #main_searchbar {
//     @media screen and (max-width: 600px) {width: fit-content!important}
//     width: 40vw!important;
// }

// #main_searchbar.axg_active {
//     @media screen and (max-width: 600px) {width: 100vw!important}
// }

a {text-decoration: none}

.highlightButtonOnHover:hover .buttonBg {background-color: var(--secondaryColor)!important}

.searchbarheight {height: 40px}


.hideonlargetablet {
    @media screen and (max-width: 1500px) and (min-width: 1000px) {display: none!important}
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0000008f;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #afafaf52;
}

html[theme-preference="light"] .hidesublighttheme {display: none!important}
html[theme-preference="dark"] .hidesubdarktheme {display: none!important}

a {color: var(--links_colors)}