:root {
  --primaryColor: #00235a;
  --secondaryColor: #ff5e14;
  --tertiaryColor: #eff0f2;
  --primaryTextColor: #001659;
  --secondaryTextColor: #565969;
  --tertiaryTextColor: #fff;
}
.primary_bg {
  background-color: var(--primaryColor);
}
.primary_color {
  color: var(--primaryTextColor);
}
.secondary_bg {
  background-color: var(--secondaryColor);
}
.secondary_color {
  color: var(--secondaryTextColor);
}
.tertiary_bg {
  background-color: var(--tertiaryColor);
}
.tertiary_color {
  color: var(--tertiaryTextColor);
}
#main_searchbar {
  width: 40vw!important;
}
@media screen and (max-width: 600px) {
  #main_searchbar {
    width: fit-content !important;
  }
}
@media screen and (max-width: 600px) {
  #main_searchbar.axg_active {
    width: 100vw !important;
  }
}
a {
  text-decoration: none;
}
.highlightButtonOnHover:hover .buttonBg {
  background-color: var(--secondaryColor) !important;
}
.searchbarheight {
  height: 40px;
}
