:root {
    --primaryColor: #fff;
    --secondaryColor: #04AA6D;
    --tertiaryColor: #282A35;
  
    --primaryTextColor: #fff;
    --secondaryTextColor: #04AA6D;
    --tertiaryTextColor: #282A35;
}

.primary_bg {background-color: var(--primaryColor)}
.secondary_bg {background-color: var(--secondaryColor)}
.tertiary_bg {background-color: var(--tertiaryColor)}

.primary_bg_hover:hover {background-color: var(--primaryColor)}
.secondary_bg_hover:hover {background-color: var(--secondaryColor)}
.tertiary_bg_hover:hover {background-color: var(--tertiaryColor)}

.primary_color {color: var(--primaryTextColor)}
.secondary_color {color: var(--secondaryTextColor)}
.tertiary_color {color: var(--tertiaryTextColor)}

.primary_color_hover:hover {color: var(--primaryTextColor)}
.secondary_color_hover:hover {color: var(--secondaryTextColor)}
.tertiary_color_hover:hover {color: var(--tertiaryTextColor)}


#main_searchbar {
    @media screen and (max-width: 600px) {width: fit-content!important}
    width: 40vw!important;
}

#main_searchbar.axg_active {
    @media screen and (max-width: 600px) {width: 100vw!important}
}

a {text-decoration: none}

.highlightButtonOnHover:hover .buttonBg {background-color: var(--secondaryColor)!important}

.searchbarheight {height: 40px}

.dropdown .dropdownBody.open > .menu .listHead:hover a {
    color: #fff;
}

.hideonlargetablet {
    @media screen and (max-width: 1500px) and (min-width: 1000px) {display: none!important}
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0000008f;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #afafaf52;
}