:root {
  --primaryColor: #fff;
  --secondaryColor: #04AA6D;
  --tertiaryColor: #282A35;
  --primaryTextColor: #fff;
  --secondaryTextColor: #04AA6D;
  --tertiaryTextColor: #282A35;
}
.primary_bg {
  background-color: var(--primaryColor);
}
.secondary_bg {
  background-color: var(--secondaryColor);
}
.tertiary_bg {
  background-color: var(--tertiaryColor);
}
.primary_color {
  color: var(--primaryTextColor);
}
.secondary_color {
  color: var(--secondaryTextColor);
}
.tertiary_color {
  color: var(--tertiaryTextColor);
}
#main_searchbar {
  width: 40vw!important;
}
@media screen and (max-width: 600px) {
  #main_searchbar {
    width: fit-content !important;
  }
}
@media screen and (max-width: 600px) {
  #main_searchbar.axg_active {
    width: 100vw !important;
  }
}
a {
  text-decoration: none;
}
.highlightButtonOnHover:hover .buttonBg {
  background-color: var(--secondaryColor) !important;
}
.searchbarheight {
  height: 40px;
}
.dropdown .dropdownBody.open > .menu .listHead:hover a {
  color: #fff;
}
@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .hideonlargetablet {
    display: none !important;
  }
}
